/* Game */
.container {
    display: grid;
    grid-template-columns: repeat(30, 1fr);
  }
  .container div {
    background-color: #fff;
    border: 1px solid black;
  }
  
  .container div::before {
    content: "";
    padding-bottom: 100%;
    display: inline-block;
    vertical-align: top;
  }

  .living {
    background-color: green !important;
  }

  /* Style the form - display items horizontally */
.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

/* Add some margins for each label */
.form-inline label {
  margin: 5px 10px 5px 0;
}

/* Style the input fields */
.form-inline input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
}

